{% extends 'partials/base.html' %}

{% block title %}
    <title>Marcas</title>
{% endblock %}

{% block styles %}
    <style>
        /* Estilos para la sección de marcas */
        .brands-section {
            width: 80%;
            margin: 20px auto;
            padding: 20px;
            background-color: #e9ecef;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
        }

        .brands-section h2 {
            color: #343a40;
            font-size: 2em;
            margin-bottom: 20px;
        }

        /* Estilos para las tarjetas de marca */
        .brand-card {
            display: flex;
            align-items: center;
            background-color: #f8f9fa;
            border-radius: 10px;
            padding: 20px;
            margin-bottom: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
        }

        .brand-card a {
            color: #495057;
            font-size: 1.5em;
            margin-right: 20px;
            width: 50%;
            /* El texto debe ir en el centro horizontalmente */
            text-align: center;
        }

        .brand-card img {
            width: 50%;
            height: auto;
            border-radius: 20px;
            /* La imagen debe ir en el centro horizontalmente */
        }

        /* Estilos para desktop */
        @media (min-width: 768px) {
            .brand-card img {
                width: 25%;
            }
        }
    </style>
{% endblock %}

{% block content %}
    <!-- Contenido especifico -->
    <div class="brands-section">
        <h2>Marcas con las que hemos trabajado</h2>
        {% for cliente in clientes %}
            <div class="brand-card">
                <a href="{{ cliente.sitio_web }}">
                    <h3>{{ cliente.nombre }}</h3>
                </a>
                <img src="{{ cliente.logo }}" alt="{{ cliente.nombre }}">
            </div>
        {% endfor %}
    </div>
{% endblock %}
