{% extends 'partials/base.html' %}

{% block title %}
    <title>Quienes Somos</title>
{% endblock %}

{% block styles %}
    <style>
        /* Estilos para la sección del CEO */
        .ceo-section {
            width: 80%;
            margin: 20px auto;
            padding: 20px;
            background-color: #f8f9fa;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
        }

        .ceo-section h2 {
            color: #343a40;
            font-size: 2em;
            margin-bottom: 20px;
        }

        .ceo-section h3 {
            color: #495057;
            font-size: 1.5em;
            margin-top: 20px;
        }

        .ceo-section p {
            color: #6c757d;
            line-height: 1.5;
            margin: 10px 0;
        }

        /* Estilos específicos para cada subsección */
        .ceo-description,
        .ceo-experience,
        .ceo-education {
            border-top: 1px solid #dee2e6;
            padding-top: 20px;
        }

        .ceo-description ul {
            list-style-type: none; /* Remueve los bullets de la lista */
            padding: 0; /* Remueve el padding por defecto de la lista */
        }

        .ceo-description ul li {
            margin-bottom: 10px; /* Agrega un espacio entre cada elemento de la lista */
            line-height: 1.5; /* Ajusta la altura de línea para mejorar la legibilidad */
            margin-left: 10px;
        }

        /* Estilos para la información del CEO */
        .ceo-info {
            display: flex;
            align-items: center;
            gap: 20px;
            margin-bottom: 20px;
        }

        .ceo-info img {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            object-fit: cover;
        }

        .ceo-info h2 {
            font-size: 1.8em;
            color: #343a40;
            margin: 0;
        }

        .ceo-info h3 {
            font-size: 1.5em;
            color: #495057;
            margin: 0;
        }

        @media (max-width: 768px) {
            .ceo-info {
                flex-direction: column;
                align-items: center;
            }

            .ceo-info h2,
            .ceo-info h3 {
                /* centrar los textos */
                text-align: center;
            }

            .ceo-description ul {
                padding-left: 0; /* Agrega un padding a la izquierda para que la lista no quede pegada al borde */
            }

            .ceo-description ul li {
                margin-bottom: 5px; /* Reduce el espacio entre cada elemento de la lista */
                margin-left: 0; /* Elimina el margen izquierdo para que la lista esté alineada a la izquierda */
                padding-left: 4px;
            }
        }
    </style>
{% endblock %}

{% block content %}
    <!-- Contenido específico -->
    <!-- Sección CEO usando Django -->
    {% for empleado in empleados %}
        <div class="ceo-section">
            <div class="ceo-info">
                <img src="{{ empleado.photo }}" alt="Foto del Empleado">
                <h2>{{ empleado.name }}</h2>
                <h3>{{ empleado.title }}</h3>
            </div>
            <div class="ceo-description">
                <h3>Descripción</h3>
                <ul>
                    {% for paragraph in empleado.description %}
                        <li>{{ paragraph }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="ceo-experience">
                <h3>Experiencia y formación</h3>
                <ul>
                    {% for experience in empleado.experiences.all %}
                        <li>
                            <strong>{{ experience.company }}</strong> - {{ experience.years }}<br>
                            <em>{{ experience.position }}</em> - {{ experience.duration }}
                            - {{ experience.location }}<br>
                            {{ experience.description }}
                        </li>
                        <br>
                    {% endfor %}
                    <li>
                        <strong>Mas detalles en <a href="https://www.linkedin.com/in/mariano-gobea-alcoba/"
                                                   class="f-heading f-22 link color-facebook mb-20">LinkedIn</a></strong>
                    </li>
                </ul>
            </div>
        </div>
    {% endfor %}
{% endblock %}