{% extends 'partials/base.html' %}

{% block title %}
    <title>Contacto</title>
{% endblock %}
{% block styles %}
    <!-- Estilos especificos para el form de contacto -->
    <style>
        /* Estilos adicionales para el formulario */
        .form-container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 4px;
            border-radius: 20px;
            padding: 1%;
            width: 100%;
            max-height: 100%;
            background-image: url(../../../static/i/fondo-formulario4.jpg);
        }

        /* Estilos para dispositivos móviles */
        @media (max-width: 767.98px) {
            .form-container {
                padding: 10%; /* Cambiar el padding al 10% en dispositivos móviles */
            }
        }

        .form-wrapper {
            max-width: 100%; /* Extender al 70% del ancho de la pantalla */
            max-height: 100%;
            /* max-width: 400px; */
            padding: 20px;
            border: 4px solid black; /* Color de borde */
            border-radius: 10px; /* Bordes redondeados */
            /*background-color:darkslategray;*/
            background: linear-gradient(to bottom, #273746, #3498db);
            /*background-image: url(../../static/i/logo-sin-fondo.png);*/
        }

        .form-wrapper label {
            color: white; /* Cambiar el color del texto a blanco */
        }

        .form-image {
            padding: 20px;
        }
    </style>
{% endblock %}

{% block content %}
    <!-- Contenido especifico -->
    <div class="form-container">
        <div class="form-wrapper">
            <div class="form-image">
                <img src="../../static/i/logo-sin-fondo.png" alt="Logo" width="100%"/>
            </div>
            <form action="#" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="nombre">Nombre:</label>
                    <input
                            type="text"
                            class="form-control"
                            id="nombre"
                            name="nombre"
                            required
                    />
                </div>
                <div class="form-group">
                    <label for="apellido">Apellido:</label>
                    <input
                            type="text"
                            class="form-control"
                            id="apellido"
                            name="apellido"
                            required
                    />
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input
                            type="email"
                            class="form-control"
                            id="email"
                            name="email"
                            required
                    />
                </div>
                <div class="form-group">
                    <label for="telefono">Teléfono:</label>
                    <input
                            type="tel"
                            class="form-control"
                            id="telefono"
                            name="telefono"
                            required
                    />
                </div>
                <div class="form-group">
                    <label for="asunto">Asunto:</label>
                    <input
                            type="text"
                            class="form-control"
                            id="asunto"
                            name="asunto"
                            required
                    />
                </div>
                <div class="form-group">
                    <label for="consulta">Consulta:</label>
                    <textarea
                            class="form-control"
                            id="consulta"
                            name="consulta"
                            rows="5"
                            required
                    ></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Enviar Consulta</button>
                <!-- Nuevo botón "Volver" -->
                <a href="/" class="btn btn-secondary btn-volver">Volver</a>
                </button>
            </form>
        </div>
    </div>
{% endblock %}
