<!-- Navigation Mobile type 2 -->
<a class="open_menu color-main bg-light radius_full"
><i class="fas fa-bars lh-40"></i
></a>
<div class="navigation_mobile bg-light type2">
    <a class="close_menu color-main"><i class="fas fa-times"></i></a>
    <div class="px-40 pt-60 pb-60 text-center inner">
        <div>
            <a href="/" class="f-heading f-22 link color-main mb-20">Home</a>
        </div>

        <div>
            <a href="#" class="f-heading f-22 link color-main mb-20">Precios</a>
        </div>

        <div>
            <a href="/quienes-somos/" class="f-heading f-22 link color-main mb-20"
            >¿Quiénes somos?</a
            >
        </div>

        <div>
            <a href="#" class="f-heading f-22 link color-main mb-20"
            >Preguntas Frecuentes</a
            >
        </div>

        <div>
            <a
                    href="{% url 'formulario_contacto' %}"
                    class="f-heading f-22 link color-main mb-20"
            >Contactanos</a
            >
        </div>
        <div>
            <a
                    href="mailto:gobeamariano@gmail.com?subject=Estoy%20interesado/a%20en%20tus%20servicios%20profesionales"
                    class="f-12 link color-main op-7 text-uppercase sp-20 mb-20"
            >Email</a
            >
        </div>
        <div>
            <a
                    href="https://datageekguru.blogspot.com/"
                    class="f-12 link color-main op-7 text-uppercase sp-20 mb-20"
            >Blog</a
            >
        </div>
        <div>
            <a
                    href="#"
                    class="f-12 link color-main op-7 text-uppercase sp-20 mb-20"
            >Trabaja con Nosotros</a
            >
        </div>
        <div class="socials mt-60">
            <a href="#" target="_blank" class="link color-main f-18 mx-10"
            ><i class="fab fa-twitter"></i
            ></a>
            <a href="#" target="_blank" class="link color-main f-18 mx-10"
            ><i class="fab fa-instagram"></i
            ></a>
            <a
                    href="https://www.linkedin.com/in/mariano-gobea-alcoba/"
                    target="_blank"
                    class="link color-main f-18 mx-10"
            ><i class="fab fa-linkedin"></i
            ></a>
            <a
                    href="mailto:gobeamariano@gmail.com?subject=Estoy%20interesado/a%20en%20tus%20servicios%20profesionales"
                    target="_blank"
                    class="link color-main f-18 mx-10"
            ><i class="fa fa-envelope"></i
            ></a>
        </div>
    </div>
</div>

<!-- Header 16 -->
<style>
    .header_16 {
        background-image: url(../../static/i/header_16_bg.jpg);
    }

    @media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
        .header_16 {
            background-image: url(../../static/i/header_16_bg.jpg);
        }
    }
</style>

<header class="pt-145 pb-115 header_16">
    <!-- Header Menu 16 -->
    <nav class="header_menu_16 pt-30 pb-30 mt-15">
        <div class="container px-xl-0">
            <div class="row justify-content-center">
                <div
                        class="col-xl-10"
                        data-aos-duration="600"
                        data-aos="fade-down"
                        data-aos-delay="1200"
                >
                    <div class="row align-items-baseline">
                        <div class="col-lg-18 d-flex align-items-center f-18 medium">
                            <a href="/" class="mx-15 link color-white"
                            ><img
                                    src="{% static 'i/logo-sin-fondo.png' %}"
                                    alt="Logo"
                                    class="mx-15 logo-image"
                                    width="50"
                                    height="50"
                            /></a>
                            <div class="mx-15 logo color-white">
                                <a href="/" class="mx-15 link color-white"
                                >Matrix Global Analytics</a
                                >
                            </div>
                            <a href="#" class="mx-15 link color-white">Precios</a>
                            <a href="/quienes-somos/" class="mx-15 link color-white">¿Quiénes somos?</a>
                            <a href="#" class="mx-15 link color-white"
                            >Preguntas Frecuentes</a
                            >
                            <a
                                    href="{% url 'formulario_contacto' %}"
                                    class="mx-15 link color-white"
                            >Contáctenos</a
                            >
                            <a href="#" class="mx-30 btn sm action-3">Comprar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>