{% extends 'partials/base.html' %}

{% block title %}
    <title>Precios</title>
{% endblock %}

{% block styles %}
    <style>
        /* Estilos para la section que me permitan dejarle margen arriba y abajo */
        .pricing_table_4 {
            margin: 10px 0;
            border: black 2px solid;
            border-radius: 12px;
            /* Cambio la imagen de fono de la pricing_table_4 */
            background-image: url("../../../static/i/contact_4_bg@2x.jpg");
        }
    </style>
{% endblock %}

{% block content %}
    <!-- Pricing Table 4 -->
    <section class="pricing_table_4 pt-105 pb-100 color-white">
        <div class="container px-xl-0">
            <div class="row justify-content-center text-center">
                <div
                        class="col-xl-8 col-lg-10"
                        data-aos-duration="600"
                        data-aos="fade-down"
                        data-aos-delay="0"
                >
                    <h2 class="small">Planes y Precios</h2>
                </div>
                <div
                        class="col-xl-6 col-lg-8 col-md-10"
                        data-aos-duration="600"
                        data-aos="fade-down"
                        data-aos-delay="300"
                >
                    <div class="mt-25 mb-55 f-22 text-adaptive">
                        Matrix Global Analytics ofrece soluciones adaptadas a tus
                        necesidades específicas.
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="mb-70 mb-lg-0 col-lg-4 col-md-7 col-sm-8">
                    <div class="mx-auto mw-370 px-70 pt-60 pb-55 radius10 block">
                        <div
                                class="f-22 title"
                                data-aos-duration="600"
                                data-aos="fade-down"
                                data-aos-delay="0"
                        >
                            Análisis Específico
                        </div>
                        <div
                                class="mt-30 mb-40 f-58 d-flex align-items-start price"
                                data-aos-duration="600"
                                data-aos="fade-down"
                                data-aos-delay="0"
                        >
                            <b>500</b>
                            <div class="mt-1 ml-5 f-16">$</div>
                        </div>
                        <ul
                                class="px-0"
                                data-aos-duration="600"
                                data-aos="fade-down"
                                data-aos-delay="0"
                        >
                            <li class="mb-10">Resolución de problemas puntuales</li>
                            <li class="mb-10">Insights personalizados</li>
                            <li class="mb-10">Asesoramiento experto</li>
                            <li class="mb-10">Análisis detallado de datos</li>
                            <li class="mb-10">Estrategias específicas para cada cliente</li>
                            <li class="mb-10">Revisión exhaustiva de resultados</li>
                            <li class="mb-10">Seguimiento continuo del progreso</li>
                            <li class="mb-10">Soporte técnico dedicado</li>
                        </ul>
                        <div
                                data-aos-duration="600"
                                data-aos="fade-down"
                                data-aos-delay="0"
                        >
                            <a href="#" class="mt-15 btn lg action-3">Contratar</a>
                        </div>
                    </div>
                </div>
                <div class="mb-70 mb-lg-0 col-lg-4 col-md-7 col-sm-8">
                    <div class="mx-auto mw-370 px-70 pt-60 pb-55 radius10 block">
                        <div
                                class="f-22 title"
                                data-aos-duration="600"
                                data-aos="fade-down"
                                data-aos-delay="150"
                        >
                            Entrenamiento
                        </div>
                        <div
                                class="mt-30 mb-40 f-58 d-flex align-items-start price"
                                data-aos-duration="600"
                                data-aos="fade-down"
                                data-aos-delay="150"
                        >
                            <b>1000</b>
                            <div class="mt-1 ml-5 f-16">$</div>
                        </div>
                        <ul
                                class="px-0"
                                data-aos-duration="600"
                                data-aos="fade-down"
                                data-aos-delay="150"
                        >
                            <li class="mb-10">Capacitación en herramientas de data</li>
                            <li class="mb-10">Desarrollo de habilidades de análisis</li>
                            <li class="mb-10">Optimi
                            <li class="mb-10">Entrenamiento personalizado según las necesidades de tu equipo</li>
                            <li class="mb-10">Acceso exclusivo a material de estudio y recursos didácticos</li>
                            <li class="mb-10">Sesiones prácticas en tiempo real con casos de uso reales</li>
                            <li class="mb-10">Soporte técnico continuo durante el proceso de entrenamiento</li>
                            <li class="mb-10">Certificación al completar el programa de entrenamiento</li>
                            <div
                                    data-aos-duration="600"
                                    data-aos="fade-down"
                                    data-aos-delay="150"
                            >
                                <a href="#" class="mt-15 btn lg action-3">Contratar</a>
                            </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-7 col-sm-8">
                    <div class="mx-auto mw-370 px-70 pt-60 pb-55 radius10 block">
                        <div
                                class="f-22 title"
                                data-aos-duration="600"
                                data-aos="fade-down"
                                data-aos-delay="300"
                        >
                            Socio Tecnológico
                        </div>
                        <div
                                class="mt-30 mb-40 f-58 d-flex align-items-start price"
                                data-aos-duration="600"
                                data-aos="fade-down"
                                data-aos-delay="300"
                        >
                            <b>2000</b>
                            <div class="mt-1 ml-5 f-16">$</div>
                        </div>
                        <ul
                                class="px-0"
                                data-aos-duration="600"
                                data-aos="fade-down"
                                data-aos-delay="300"
                        >
                            <li class="mb-10">Gestión integral de tecnología de datos</li>
                            <li class="mb-10">Capacitación continua y escalable</li>
                            <li class="mb-10">Desarrollo de cultura data-driven</li>
                            <li class="mb-10">Asesoramiento estratégico en la implementación de tecnologías</li>
                            <li class="mb-10">Acceso prioritario a las últimas tendencias en tecnología de datos</li>
                            <li class="mb-10">Soporte técnico especializado y atención personalizada</li>
                            <li class="mb-10">Desarrollo conjunto de soluciones innovadoras y a medida</li>
                            <li class="mb-10">Evaluación y optimización continua de la infraestructura tecnológica</li>
                        </ul>
                        <div
                                data-aos-duration="600"
                                data-aos="fade-down"
                                data-aos-delay="300"
                        >
                            <a href="#" class="mt-15 btn lg action-3">Contratar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}