{% extends 'partials/base.html' %}

{% block title %}
    <title>FAQ</title>
{% endblock %}

{% block styles %}
    <style>
        /* Estilos para la sección de preguntas frecuentes */
        .faq-section {
            width: 80%;
            margin: 20px auto;
            padding: 20px;
            background-color: #f8f9fa;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
        }

        .faq-section h2 {
            color: #343a40;
            font-size: 2em;
            margin-bottom: 20px;
        }

        .faq-section p {
            color: #6c757d;
            line-height: 1.5;
            margin: 10px 0;
        }

        /* Estilos específicos para cada pregunta */
        .faq-question,
        .faq-answer {
            border-bottom: 2px solid #dee2e6;
            padding: 20px;
        }

        .faq-question ul {
            list-style-type: none; /* Remueve los bullets de la lista */
            padding: 0; /* Remueve el padding por defecto de la lista */
            margin: 0 40px;
            align-content: center;
        }

        .faq-question ul li {
            margin-bottom: 10px; /* Agrega un espacio entre cada elemento de la lista */
            line-height: 1.5; /* Ajusta la altura de línea para mejorar la legibilidad */
            margin-left: 10px;
        }

        @media (max-width: 768px) {
            .faq-question ul {
                padding-left: 0; /* Agrega un padding a la izquierda para que la lista no quede pegada al borde */
            }

            .faq-question ul li {
                margin-bottom: 5px; /* Reduce el espacio entre cada elemento de la lista */
                margin-left: 0; /* Elimina el margen izquierdo para que la lista esté alineada a la izquierda */
                padding-left: 4px;
            }
        }
    </style>
{% endblock %}

{% block content %}
    <!-- Contenido específico -->
    <!-- Sección de preguntas frecuentes Django-->
    <div class="faq-section">
        {% for faq_item in faq_items %}
            <div class="faq-question color-main">
                <h2>{{ faq_item.question }}</h2>
                <ul>
                    <li>{{ faq_item.answer }}</li>
                </ul>
            </div>
        {% endfor %}
    </div>
{% endblock %}