$base_font_size: 16px;
$base_line_height: 26px;
$font_heading: Nunito Sans;
$font_main: Nunito;
$font_heading_weight: 900;
$font_main_weight: 400;
$retina: "(-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi)";

$thin:100;
$extralight:200;
$light:300;
$normal:400;
$medium:500;
$semibold:600;
$bold:700;
$extrabold:800;
$heavy:900;

$action_1: #c54fd3;
$action_2: #50baf2;
$action_3: #1b34cb;
$color_main: #4d095f;
$color_heading: #a583ae;
$color_white: #ffffff;
$color_gray: #d8d4d9;
$bg_dark: #112148;
$bg_light: #ffffff;

$color_red: #EA3223;
$color_red_hover: #e10000;
$color_green: #18c967;
$color_green_hover: #0cb658;
$color_facebook: #2e4da7;
$color_twitter: #0aa0f5;
$color_dribbble: #E93A7D;
