{% extends 'partials/base.html' %}

{% block title %}
    <title>Marcas</title>
{% endblock %}
{% block styles %}
    <!-- Estilos para los términos y condiciones -->
    <style>
        .terms-container {
            background-color: #f5f5f5;
            padding: 20px;
            border-radius: 10px;
            margin-bottom: 20px;
            margin-top: 20px;
        }

        .terms-title {
            font-size: 24px;
            color: #333;
            margin-bottom: 10px;
        }

        .terms-subtitle {
            font-size: 20px;
            color: #525151;
            margin-bottom: 8px;
        }

        .terms-text {
            font-size: 16px;
            color: #666;
        }

        .terms-list {
            margin-bottom: 20px;
        }

        .terms-list-item {
            margin-bottom: 10px;
            list-style-type: disc;
            margin-left: 20px;
        }
    </style>
{% endblock %}
{% block content %}
    <!-- Contenido especifico de Terminos de Uso -->
    <!-- Términos y condiciones en español -->
    <div class="terms-container">
        <h2 class="terms-title">Politica de Privacidad del sitio</h2>
        <div class="terms-text">
            <p>
                El presente Política de Privacidad establece los términos en que
                Matrix Global Analytics usa y protege la información que es
                proporcionada por sus usuarios al momento de utilizar su sitio web.
                Esta compañía está comprometida con la seguridad de los datos de sus
                usuarios. Cuando le pedimos llenar los campos de información personal
                con la cual usted pueda ser identificado, lo hacemos asegurando que
                sólo se empleará de acuerdo con los términos de este documento. Sin
                embargo, esta Política de Privacidad puede cambiar con el tiempo o ser
                actualizada, por lo que le recomendamos y enfatizamos revisar
                continuamente esta página para asegurarse que está de acuerdo con
                dichos cambios.
            </p>
            <h3 class="terms-subtitle">Información que es recogida</h3>
            <p>
                Nuestro sitio web podrá recoger información personal, por ejemplo:
                Nombre, información de contacto como su dirección de correo
                electrónico e información demográfica. Así mismo, cuando sea
                necesario, podrá ser requerida información específica para procesar
                algún pedido o realizar una entrega o facturación.
            </p>
            <h3 class="terms-subtitle">Uso de información recogida</h3>
            <p>
                Nuestro sitio web emplea la información con el fin de proporcionar el
                mejor servicio posible, particularmente para mantener un registro de
                usuarios, de pedidos en caso que aplique, y mejorar nuestros productos
                y servicios. Es posible que sean enviados correos electrónicos
                periódicamente a través de nuestro sitio con ofertas especiales,
                nuevos productos y otra información publicitaria que consideremos
                relevante para usted o que pueda brindarle algún beneficio; estos
                correos electrónicos serán enviados a la dirección que usted
                proporcione y podrán ser cancelados en cualquier momento. Estamos
                altamente comprometidos para cumplir con el compromiso de mantener su
                información segura. Usamos los sistemas más avanzados y los
                actualizamos constantemente para asegurarnos que no exista ningún
                acceso no autorizado.
            </p>
            <h3 class="terms-subtitle">Cookies</h3>
            <p>
                Una cookie se refiere a un fichero que es enviado con la finalidad de
                solicitar permiso para almacenarse en su ordenador, al aceptar dicho
                fichero se crea y la cookie sirve entonces para tener información
                respecto al tráfico web, y también facilita las futuras visitas a una
                web recurrente. Otra función que tienen las cookies es que con ellas
                las web pueden reconocerte individualmente y por tanto brindarte el
                mejor servicio personalizado de su web. Nuestro sitio web emplea las
                cookies para poder identificar las páginas que son visitadas y su
                frecuencia. Esta información es empleada únicamente para análisis
                estadístico y después la información se elimina de forma permanente.
                Usted puede eliminar las cookies en cualquier momento desde su
                ordenador. Sin embargo, las cookies ayudan a proporcionar un mejor
                servicio de los sitios web, estas no dan acceso a información de su
                ordenador ni de usted, a menos de que usted así lo quiera y la
                proporcione directamente. Usted puede aceptar o negar el uso de
                cookies, sin embargo la mayoría de navegadores aceptan cookies
                automáticamente pues sirve para tener un mejor servicio web. También
                usted puede cambiar la configuración de su ordenador para declinar las
                cookies. Si se declinan es posible que no pueda utilizar algunos de
                nuestros servicios.
            </p>
            <h3 class="terms-subtitle">Enlaces a Terceros</h3>
            <p>
                Este sitio web pudiera contener enlaces a otros sitios que pudieran
                ser de su interés. Una vez que usted de clic en estos enlaces y
                abandone nuestra página, ya no tenemos control sobre al sitio al que
                es redirigido y por lo tanto no somos responsables de los términos o
                privacidad ni de la protección de sus datos en esos otros sitios
                terceros. Dichos sitios están sujetos a sus propias políticas de
                privacidad por lo cual es recomendable que los consulte para confirmar
                que usted está de acuerdo con estas.
            </p>
            <h3 class="terms-subtitle">Control de su información personal</h3>
            <p>
                En cualquier momento usted puede restringir la recopilación o el uso
                de la información personal que es proporcionada a nuestro sitio web.
                Cada vez que se le solicite rellenar un formulario, como el de alta de
                usuario, puede marcar o desmarcar la opción de recibir información por
                correo electrónico. En caso de que haya marcado la opción de recibir
                nuestro boletín o publicidad usted puede cancelarla en cualquier
                momento. Esta compañía no venderá, cederá ni distribuirá la
                información personal que es recopilada sin su consentimiento, salvo
                que sea requerido por un juez con un orden judicial. Nos reservamos el
                derecho de cambiar los términos de la presente Política de Privacidad
                en cualquier momento.
            </p>
        </div>
    </div>

    <!-- Términos y condiciones en inglés -->
    <div class="terms-container">
        <h2 class="terms-title">Website Privacy Policy</h2>
        <div class="terms-text">
            <p>
                This Privacy Policy establishes the terms in which Matrix Global
                Analytics uses and protects the information provided by its users when
                using its website. This company is committed to the security of its
                users' data. When we ask you to fill in the fields of personal
                information with which you can be identified, we do so ensuring that
                it will only be used in accordance with the terms of this document.
                However, this Privacy Policy may change over time or be updated, so we
                recommend and emphasize continually reviewing this page to ensure that
                you agree with such changes.
            </p>
            <h3 class="terms-subtitle">Information that is collected</h3>
            <p>
                Our website may collect personal information, for example: Name,
                contact information such as your email address, and demographic
                information. Likewise, when necessary, specific information may be
                required to process an order or make a delivery or billing.
            </p>
            <h3 class="terms-subtitle">Use of collected information</h3>
            <p>
                Our website uses the information to provide the best possible service,
                particularly to keep a record of users, of orders where applicable,
                and to improve our products and services. Periodically, emails may be
                sent through our site with special offers, new products, and other
                advertising information that we consider relevant to you or that may
                provide you with some benefit; these emails will be sent to the
                address you provide and can be canceled at any time. We are highly
                committed to complying with the commitment to keep your information
                secure. We use the most advanced systems and constantly update them to
                ensure that there is no unauthorized access.
            </p>
            <h3 class="terms-subtitle">Cookies</h3>
            <p>
                A cookie refers to a file that is sent with the purpose of requesting
                permission to be stored on your computer, by accepting said file, it
                is created and the cookie serves then to have information regarding
                web traffic, and also facilitates future visits to a recurring
                website. Another function of cookies is that with them, websites can
                recognize you individually and therefore provide you with the best
                personalized service from their website. Our website uses cookies to
                identify the pages that are visited and their frequency. This
                information is used solely for statistical analysis and then the
                information is permanently deleted. You can delete cookies at any time
                from your computer. However, cookies help provide a better service
                from websites, they do not give access to information on your computer
                or you, unless you want it and provide it directly. You can accept or
                decline the use of cookies, however, most browsers automatically
                accept cookies as it serves to provide a better web service. You can
                also change your computer's settings to decline cookies. If you
                decline them, it is possible that you will not be able to use some of
                our services.
            </p>
            <h3 class="terms-subtitle">Third party links</h3>
            <p>
                This website may contain links to other sites that may be of interest
                to you. Once you click on these links and leave our page, we no longer
                have control over the site to which you are redirected, and therefore
                we are not responsible for the terms or privacy or the protection of
                your data on those other third-party sites. These sites are subject to
                their own privacy policies, so it is advisable to check them to
                confirm that you agree with them.
            </p>
            <h3 class="terms-subtitle">Control of your personal information</h3>
            <p>
                At any time, you can restrict the collection or use of personal
                information provided to our website. Every time you are asked to fill
                out a form, such as the user registration form, you can check or
                uncheck the option to receive information by email. If you have
                checked the option to receive our newsletter or advertising, you can
                cancel it at any time. This company will not sell, assign, or
                distribute the personal information that is collected without your
                consent, unless required by a judge with a court order. We reserve the
                right to change the terms of this Privacy Policy at any time.
            </p>
        </div>
    </div>
{% endblock %}
