{% extends 'partials/base.html' %}

{% block title %}
    <title>Marcas</title>
{% endblock %}

{% block styles %}
    <!-- Estilos para los términos y condiciones -->
    <style>
        .terms-container {
            background-color: #f5f5f5;
            padding: 20px;
            border-radius: 10px;
            margin-bottom: 20px;
            margin-top: 20px;
        }

        .terms-title {
            font-size: 24px;
            color: #333;
            margin-bottom: 10px;
        }

        .terms-text {
            font-size: 16px;
            color: #666;
        }

        .terms-list {
            margin-bottom: 20px;
        }

        .terms-list-item {
            margin-bottom: 10px;
            list-style-type: disc;
            margin-left: 20px;
        }
    </style>
{% endblock %}

{% block content %}
    <!-- Contenido especifico de Terminos de Uso -->
    <!-- Términos y condiciones en español -->
    <div class="terms-container">
        <h2 class="terms-title">Términos y Condiciones de Uso del Sitio Web</h2>
        <div class="terms-text">
            <p>
                Bienvenido a nuestro sitio web. Si continúa navegando y utilizando
                este sitio web, acepta cumplir y quedar obligado por los siguientes
                términos y condiciones de uso, que junto con nuestra política de
                privacidad rigen la relación de Matrix Global Analytics con usted en
                relación con este sitio web. Si no está de acuerdo con alguna parte de
                estos términos y condiciones, por favor no utilice nuestro sitio web.
            </p>
            <ul class="terms-list">
                <li class="terms-list-item">
                    El contenido de las páginas de este sitio web es para su información
                    general y uso solamente. Está sujeto a cambios sin previo aviso.
                </li>
                <li class="terms-list-item">
                    Este sitio web utiliza cookies para monitorear las preferencias de
                    navegación. Si permite que se utilicen cookies, la siguiente
                    información personal puede ser almacenada por nosotros para uso
                    propio responsable o uso de terceros autorizados por nosotros.
                </li>
                <li class="terms-list-item">
                    Ni nosotros ni terceros proporcionamos ninguna garantía o garantía
                    en cuanto a la precisión, puntualidad, rendimiento, integridad o
                    idoneidad de la información y materiales encontrados o ofrecidos en
                    este sitio web para ningún propósito particular. Usted reconoce que
                    tal información y materiales pueden contener inexactitudes o errores
                    y excluimos expresamente la responsabilidad por tales inexactitudes
                    o errores en la máxima medida permitida por la ley.
                </li>
                <li class="terms-list-item">
                    Su uso de cualquier información o materiales en este sitio web es
                    totalmente bajo su propio riesgo, para lo cual no seremos
                    responsables. Será su responsabilidad asegurarse de que cualquier
                    producto, servicio o información disponible a través de este sitio
                    web cumpla con sus requisitos específicos.
                </li>
                <li class="terms-list-item">
                    Este sitio web contiene material que es propiedad de nosotros o que
                    está licenciado para nosotros. Este material incluye, entre otros,
                    el diseño, la disposición, la apariencia y los gráficos. La
                    reproducción está prohibida excepto de acuerdo con el aviso de
                    derechos de autor, que forma parte de estos términos y condiciones.
                </li>
                <li class="terms-list-item">
                    Se reconocen todas las marcas comerciales reproducidas en este sitio
                    web, que no son propiedad del operador o están licenciadas al
                    operador.
                </li>
                <li class="terms-list-item">
                    El uso no autorizado de este sitio web puede dar lugar a una
                    reclamación por daños y perjuicios y / o ser un delito.
                </li>
                <li class="terms-list-item">
                    De vez en cuando, este sitio web también puede incluir enlaces a
                    otros sitios web. Estos enlaces se proporcionan para su conveniencia
                    para proporcionar más información. No significan que respaldemos el
                    (los) sitio (s) web. No tenemos responsabilidad por el contenido del
                    (los) sitio (s) web vinculado (s).
                </li>
                <li class="terms-list-item">
                    Su uso de este sitio web y cualquier disputa que surja de dicho uso
                    del sitio web está sujeto a las leyes de Argentina.
                </li>
            </ul>
        </div>
    </div>

    <!-- Términos y condiciones en inglés -->
    <div class="terms-container">
        <h2 class="terms-title">Website Usage Terms and Conditions</h2>
        <div class="terms-text">
            <p>
                Welcome to our website. If you continue to browse and use this
                website, you are agreeing to comply with and be bound by the following
                terms and conditions of use, which together with our privacy policy
                govern Matrix Global Analytics's relationship with you in relation to
                this website. If you disagree with any part of these terms and
                conditions, please do not use our website.
            </p>
            <ul class="terms-list">
                <li class="terms-list-item">
                    The content of the pages of this website is for your general
                    information and use only. It is subject to change without notice.
                </li>
                <li class="terms-list-item">
                    This website uses cookies to monitor the preferences of navigation.
                    If you allow cookies to be used, the following personal information
                    may be stored by us for use own responsible or use of third parties
                    authorized by us.
                </li>
                <li class="terms-list-item">
                    Neither we nor any third parties provide any warranty or guarantee
                    as to the accuracy, timeliness, performance, completeness or
                    suitability of the information and materials found or offered on
                    this website for any particular purpose. You acknowledge that such
                    information and materials may contain inaccuracies or errors and we
                    expressly exclude liability for any such inaccuracies or errors to
                    the fullest extent permitted by law.
                </li>
                <li class="terms-list-item">
                    Your use of any information or materials on this website is entirely
                    at your own risk, for which we shall not be liable. It shall be your
                    own responsibility to ensure that any products, services or
                    information available through this website meet your specific
                    requirements.
                </li>
                <li class="terms-list-item">
                    This website contains material which is owned by or licensed to us.
                    This material includes, but is not limited to, the design, layout,
                    look, appearance and graphics. Reproduction is prohibited other than
                    in accordance with the copyright notice, which forms part of these
                    terms and conditions.
                </li>
                <li class="terms-list-item">
                    All trademarks reproduced in this website, which are not the
                    property of, or licensed to the operator, are acknowledged on the
                    website.
                </li>
                <li class="terms-list-item">
                    Unauthorised use of this website may give rise to a claim for
                    damages and/or be a criminal offence.
                </li>
                <li class="terms-list-item">
                    From time to time, this website may also include links to other
                    websites. These links are provided for your convenience to provide
                    further information. They do not signify that we endorse the
                    website(s). We have no responsibility for the content of the linked
                    website(s).
                </li>
                <li class="terms-list-item">
                    Your use of this website and any dispute arising out of such use of
                    the website is subject to the laws of Argentina.
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
